<div class="container-fluid">
    <div class="container">
        <div class="container allrepos">
            <div class="card" style="width: 22rem;" class="repo">
              <div class="card-body">
                <h5 class="card-title">Repo Name: &nbsp; </h5>
                <div class="card-text">
                  <hr>
                  <div class="desc"><span class="top">Description:</span> &nbsp;
                  </div>
                  <hr>
                  <div class="card-subtitle mb-2">
                      <span class="top">Language: </span>
                  </div>
                  <div class="card-subtitle mb-2"><span class="top">Created On:</span> </div>
                </div>
                </div>
            </div>
          </div>
    </div>
  </div>